<!DOCTYPE html>
<html>
<head>
 <title>404</title>

 <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>

<style>


body {
        background-color: lemonchiffon;
     }

div.container {
    text-align: center;
    padding: 100px 20px;
}

p {
    font-family: Monoton;
    font-size: 80px;
    color: tomato;
}

</style>

</head>

        <div class="container">
          <p>&#10071;404&#10071;</p>
          <p>&#10071;&#10071;PAGE NOT FOUND&#10071;&#10071;</p>
        </div>

</html>